---
import { Image } from "astro:assets";

interface Props {
    imagen: string;
    posicion?: string;
}

const { imagen, posicion = "object-center" } = Astro.props;

// --- LÓGICA DE IMÁGENES ---
const localImages = import.meta.glob<{ default: ImageMetadata }>(
    "/src/assets/imagenes/*.{jpeg,jpg,png,gif,webp}",
);

const getImagePath = (jsonPath: string) => {
    const fullPath = `/src/assets${jsonPath}`;
    if (!localImages[fullPath])
        throw new Error(`La imagen "${fullPath}" no existe en src/assets.`);
    return localImages[fullPath]();
};
---

<div class="w-full h-full">
    <Image
        src={getImagePath(imagen)}
        alt="Higo Fundo La Kiarita"
        class={`w-full h-full object-cover rounded-sm shadow-md ${posicion}`}
        width={800}
        height={600}
    />
</div>
