---
interface Props {
    texto: string;
    enlace: string;
    color?: string; // Color de fondo
    hoverColor?: string;
}

const { texto, enlace, color = "text-kiarita-gray-dark", hoverColor = "hover:text-kiarita-green" } = Astro.props;
---

<a
    href={enlace}
    class={`inline-flex items-center font-medium ${color} ${hoverColor} border-b border-kiarita-gray-dark pb-1 transition-colors group`}
>
    {texto.replace("->", "")}
    <svg
        class="w-4 h-4 ml-2 group-hover:translate-x-1 transition-transform"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
    >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
    </svg>
</a>
