<div class="mb-10">
    <h3 class="font-commissioner font-bold text-kiarita-black text-xl mb-5">
        Periodos de cosecha
    </h3>

    <div
        class="grid grid-cols-12 text-center text-sm md:text-base font-inter font-medium text-kiarita-gray-dark mb-3"
    >
        <span>ene</span>
        <span>feb</span>
        <span>mar</span>
        <span>abr</span>
        <span>may</span>
        <span>jun</span>
        <span>jul</span>
        <span>ago</span>
        <span>set</span>
        <span>oct</span>
        <span>nov</span>
        <span>dic</span>
    </div>

    <div class="relative w-full h-4 bg-kiarita-gray-light rounded-full">
        <div
            class="absolute top-0 left-[8.33%] w-[16.66%] h-full bg-kiarita-purple rounded-full"
        >
        </div>

        <div
            class="absolute top-0 left-[66.66%] w-[16.66%] h-full bg-kiarita-purple rounded-full"
        >
        </div>
    </div>
</div>
