---
interface Props {
    tipo?: string; // para secciones que no tienen 2 separaciones 
    extrastyle?: string;
}

const { tipo, extrastyle } = Astro.props;

let estilo = "mx-auto grid grid-cols-1 lg:grid-cols-2 gap-20 items-center w-full";
if (tipo === "limpio") {
    estilo = "";
}
---

<section
    class={`max-w-7xl py-24 xl:py-32 px-6 lg:px-20 xl:px-0 ${estilo} ${extrastyle}`}
>
    <slot/>
</section>
