---
import Navegacion from "./navegacion.astro"
import Footer from "./Footer.astro"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;600;700;800;900&family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<!-- Stylesheet -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jsvectormap/dist/jsvectormap.min.css" />

<!-- Core library -->
<script src="https://cdn.jsdelivr.net/npm/jsvectormap"></script>

<!-- World map (replace with your desired map) -->
<script src="https://cdn.jsdelivr.net/npm/jsvectormap/dist/maps/world.js"></script>
		<title>Astro Basics</title>
	</head>
	<body class="box-border">
		<Navegacion />
		<slot />
		<Footer />
	</body>
</html>

<style>
	html,
</style>
